http://openapi.epost.go.kr/postal/retrieveNewAdressAreaCdService/retrieveNewAdressAreaCdService/getNewAddressListAreaCd?serviceKey=$serviceKey&searchSe=$searchSe&srchwrd=$srchwrd&countPerPage=$countPerPage&currentPage=$currentPage